    .not-found {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.not-found h1 {
  font-size: 6rem;
  margin-bottom: 16px;
}

.not-found p {
  color: #bbb;
  margin-bottom: 24px;
}

.not-found a {
  padding: 12px 24px;
  background: #1f1f1f;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.not-found a:hover {
  background: #333;
}
